<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <style>
    .f{
      text-align: center;
      margin-top: 20px;
    }
    .b{
      margin-top: 20px;
      padding: 20px;
    }
    .u{
      padding: 20px;
    }
    .p{
      margin-top: 20px;
    }
    </style>
  </head>
  <body>

<div class="f">
<div class="u">
         <label for="username">Username:</label>
         <input type="text" id="username" placeholder="Username" required>
</div>
<div class="p">
         <label for="password">Password:</label>
         <input type="text" id="password" placeholder="Password" required>
</div>
<div class="b">
      <button (click)="myClickFunction()">Login</button>
</div>
</div>
</body>
</html>
