<div style="text-align:center">
  <h1>
    Welcome to {{title}}.
  </h1>
</div>

<div class="container">
  <app-new-cmp></app-new-cmp>
  <h1>Custom Pipe</h1>
  <b>Square root of 25 is: {{25 | sqrt}}</b>
  <br />
  <b>Square root of 729 is: {{729 | sqrt}}</b><br>
</div>
<-------------------------------------------- Component Communication ------------------------------------------->
  <div>
    <app-parent></app-parent>
  </div>
  <-------------->
    <div>
      <app-parent1></app-parent1>
    </div>
    <-------------->
      <div>
        <app-parent2></app-parent2>
      </div>
      <------------------->
        <div>
          <app-parent3></app-parent3>
          <app-sibling></app-sibling>
        </div>
