<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    table, th, td {
      border: 1px, solid black;
    }
    table{
      width: 50%;
    }
    th{
      padding: 15px;
      height: 50px;
      border-bottom: 1px solid #ddd;
    }
    td{
      padding: 15px;
      text-align: center;
      height: 30px;
      vertical-align: bottom;
      border-bottom: 1px solid #ddd;
    }
    tr:hover {background-color: coral;}
    </style>
  </head>
  <body>
<div style="overflow-x:auto;">
  <table>
        <tr>
          <th>Sr.No</th>
          <th>Version</th>
          <th>Release Date</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Angular JS</td>
          <td>Oct 20, 2010</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Angular 2</td>
          <td>Sep 14, 2016</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Angular 4</td>
          <td>March 23, 2017</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Angular 5</td>
          <td>Nov 1, 2017</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Angular 6</td>
          <td>May 4, 2018</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Angular 7</td>
          <td>Oct 18, 2018</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Angular 8</td>
          <td>May 28, 2019</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Angular 9</td>
          <td>Feb, 2020</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Angular 10</td>
          <td>June, 2020</td>
        </tr>
  </table>
</div>
<p appActive>Active !</p>

<div style = "width:100%;">
  <div style = "width:40%;float:left;border:solid 1px black;">
     <h1>Uppercase Pipe</h1>
     <b>{{newcomponent | uppercase}}</b><br/>

     <h1>Lowercase Pipe</h1>
     <b>{{newcomponent | lowercase}}</b>

     <h1>Currency Pipe</h1>
     <b>{{6589.23 | currency:"USD"}}</b><br/>
     <b>{{6589.23 | currency:"USD":true}}</b> <!--Boolean true is used to get the sign of the currency.-->

     <h1>Date pipe</h1>
     <b>{{todaydate | date:'d/M/y'}}</b><br/>
     <b>{{todaydate | date:'shortTime'}}</b>

     <h1>Decimal Pipe</h1>
     <b>{{ 454.78787814 | number: '3.4-4' }}</b> <!--3 is for main integer, 4 -4 are for integers to be displayed-->
  </div>

  <div style = "width:40%;float:left;border:solid 1px black;">
     <h1>Json Pipe</h1>
     <b>{{ jsonval | json }}</b>
     <h1>Percent Pipe</h1>
     <b>{{00.54565 | percent}}</b>
     <h1>Slice Pipe</h1>
     <b>{{months | slice:2:6}}</b>
     <!-- // here 2 and 6 refers to the start and the end index -->
  </div>
</div>
</body>
</html>
